.form {
  display: flex;
  align-items: center;
  width: 90%;
  position: relative;
}
.input-box {
  width: 100%;
  border-radius: 3rem;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0px 5px black;
}
.red-text {
  border: 5px solid red;
}

.input-box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}
.submit-btn {
  position: absolute;
  right: 0;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  border: none;
  margin-right: 1rem;
  font-size: 1rem;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 5px black;
}
.submit-btn:hover {
  background-color: #388ae2;
}
.submit-btn:active {
  transform: scale(0.8);
  box-shadow: 0 0 2px black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
}
.single-todos {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  transition: 0.2s;
  background-color: white;
  color: #388ae2;
}
.single-todo-text {
  flex: 1;
  padding: 5px;
  font-size: 1.5rem;
  border: none;
}
.icon {
  margin-left: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}
@media (max-width: 1170px) {
  .single-todos {
    width: 45%;
    margin-bottom: 10px;
  }
}
@media (max-width: 900px) {
  .form {
    width: 95%;
  }
  .container {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .single-todos {
    width: 95%;
    margin-bottom: 10px;
  }
}
