@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

.header {
  width: 100vw;
  height: 100vh;
  background-color: #2f74c0;
  font-family: "Neucha";
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  z-index: 1;
  text-align: center;
  margin: 2rem 0;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 800px) {
  .header-title {
    margin: 1rem;
    font-size: 2rem;
  }
}
